# Rust build artifacts
/target/
**/*.rs.bk
build/bootstrap
ecoscan-lambda.zip

# Cargo dependencies
Cargo.lock

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Logs
*.log

# AWS SAM
.aws-sam 